<div class="row">
<div class="col s12 m6" style="width: 25em;">
            <!-- Basic Card -->
            <div class="card blue" style="
    height: 30em;
">
              <div class="card-content white-text">
  <img src="http://i.imgur.com/eVj2DWl.png" style="
    height: 6em;
">


  <span class="card-title" style="
    font-size: 3em;
    margin-bottom: 3em;
">$100,574</span>
                <div style="
    margin-top: 2em;
">
<ul class="collection" style="
    color: black;
">
              <li class="collection-item avatar">
                <img src="http://www.logosurfer.com/sites/default/files/TD%20Bank%20Group.png" alt="" class="circle">
                <span class="title">TD Canada Trust</span>
                <p>$50,374<br>Checking</p>
                <a href="#!" class="secondary-content"><i class="fa fa-star-o"></i></a>
              </li>


              <li class="collection-item avatar">
                <img src="https://pbs.twimg.com/profile_images/463359351416029184/N5L2uOTF_400x400.jpeg" class="circle">

                <span class="title">Wells Fargo</span>
                <p>$50,483<br>Savings</p>
                <a href="#!" class="secondary-content"><i class="fa fa-star-o"></i></a>
              </li>
            </ul>

</div>
              </div>
              <div class="card-action">
                <a href="#">summary</a>
                <a href="#">accounts</a>
  <a href="#">budgets</a>

              </div>
            </div>
          </div>
</div>
