<!DOCTYPE html>
<html ng-app="moneta">
<head>
    <title>
        {% block title %}
            moneta
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/angular.min.js'></script>
    <script src='/static/js/materialize.min.js'></script>
    <script src='/static/js/base.js'></script>
    {% block js %}
    {% endblock %}
</body>
</html>
