<!DOCTYPE html>
<html ng-app="moneta">
<head>
    <title>
        {% block title %}
            moneta
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}
    {% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
        <div class="logout right">
                <a href="/logout">Logout</a>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/angular.min.js'></script>
    <script src='/static/js/materialize.min.js'></script>
    <script src='/static/js/base.js'></script>
    {% block js %}
    {% endblock %}
    <script>
        {% if messages %}
            {% for message in messages %}
                Materialize.toast('{{ message }}', 4000);
            {% endfor %}
        {% endif %}
    </script>

</body>
</html>
