{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/moneta.css">
{% endblock %}

{% block content %}
<div class="container" ng-controller="MonetaCtrl">
    <div class="row">
        <div class="col l10 offset-l1">
            <img class="header-logo" src="/static/img/moneta.png">

            <p class="grey-text">Current Balance</p>
            <h2 class="balance">
                [[ {{ banks_balance_sum }} | currency ]]
            </h2>

            <!-- {{ banks }} -->
            <ul class="collection">
                {% for bank in banks %}
                    {% for account in bank.accounts %}
                        <li class="collection-item avatar">
                            <img src="/api/v1/inst_logo/{{ bank.inst_type }}"
                                alt="{{ bank.inst_name }} Logo" class="circle">

                            <span class="title">{{ bank.inst_name }}</span>
                            <p>
                                [[ {{ account.balance.current }} | currency ]]
                            </p>
                            <p>{{ account.meta.name }} x-{{ account.meta.number }}</p>

                            <div class="secondary-content">
                                <a href="#!">
                                    <i class="fa fa-star-o"></i>
                                </a>
                                <a href="/app/delete_bank">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>

            <div class="action-btn-group">
                <a href="#" class="btn blue">summary</a>
                <a href="#" class="btn orange">transactions</a>
                <a href="#" class="btn red">budgets</a>
            </div>

            <form id="moneta-add-bank-form" method="POST" action="/app/add_bank/">
                {% csrf_token %}
            </form>

            <script
                src="https://cdn.plaid.com/link/stable/link-initialize.js"
                data-client-name="moneta"
                data-form-id="moneta-add-bank-form"
                data-key="1d7a48b2f04b1f7b2f6b97ec1656a1"
                data-product="connect"
                data-env="tartan">
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/jquery.observe.js'></script>
<script src='/static/js/MonetaCtrl.js'></script>
{% endblock %}
