{% extends "layout.html" %}
{% load mathfilters %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="/static/css/moneta.css">
<link rel="stylesheet" href="/static/css/material.min.css">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/dataTables.material.min.css">
{% endblock %}

{% block content %}
<div class="container" ng-controller="TransactionsCtrl">
    <div class="row">
        <div class="col l10 offset-l1">
            <img class="header-logo" src="/static/img/moneta.png">

            <table class="striped transactions-table">
                <thead>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Category</th>
                    <!-- Some of these are optional -->
                    <th>Location</th>
                    <th>Amount</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for t in transactions %}
                        <tr>
                            <td>{{ t.date }}</td>
                            <td>{{ t.name }}</td>
                            <td>
                                {% if t.category %}
                                    {% for subcategory in t.category %}
                                        {{ subcategory }}
                                        {% if not forloop.last %}
                                            >
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if t.meta.location %}
                                    {{ t.meta.location.city }}, {{ t.meta.location.state }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="transaction-amount">
                                {% if t.amount > 0 %}
                                    <span class="transaction-amount__withdrawal">
                                        {{ t.amount }}
                                    </span>
                                {% else %}
                                    <span class="transaction-amount__deposit">
                                        {{ t.amount | abs | floatformat:2 | intcomma }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if t.pending %}
                                    <i class='fa fa-clock-o'></i>
                                {% else %}
                                    <i class='fa fa-check'></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </thead>
            </table>

            {% include "snippets/_action_btns.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/js/jquery.dataTables.min.js'></script>
<script src='/static/js/dataTables.material.min.js'></script>

<script src='/static/js/TransactionsCtrl.js'></script>
{% endblock %}
