.action-btn-group a {
    margin-right: 0.8em;
    margin-bottom: 0.8em;
}

select.input-sm {
    display: inline-block;
}

.container {
    margin-bottom: 3em;
}

.transaction-amount {
    font-weight: bold;
}

.transaction-amount__withdrawal {
    color: red;
}

.transaction-amount__deposit {
    color: green;
}
